    /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* Set every element's box-sizing to border-box */
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        font-family: 'Titillium Web', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Bangers', cursive;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    /* Your code starts here! */
    
    .container {
        width: 900px;
        margin: auto;
    }
    
    header .navigation a {
        display: inline-block;
        text-decoration: none;
        color: grey;
        margin-left: 60px;
        margin-bottom: 80px;
    }
    
    .logo {
        margin-left: 30px;
        margin-top: 30px;
        padding: 1px;
        width: 150px;
        display: inline-block;
    }
    
    h1 {
        font-weight: bold;
        font-size: 50px;
        width: 300px;
        padding-bottom: 5px;
        text-align: center;
        padding-left: 100px;
    }
    
    p {
        font-size: 17px;
    }
    
    button {
        color: black;
        background: white;
        border: 1px solid black;
        margin-bottom: 200px;
        padding: 1.5px 20px;
        margin-left: 145px;
    }
    
    .circleimage {
        margin-left: 500px;
        position: absolute;
        top: 100px;
    }
    
    .middleSection {
        display: inline-block;
        padding-bottom: 50px;
        padding-top: 30px;
    }
    
    .middleSection .features {
        width: 400px;
        display: inline-block;
    }
    
    .middleSection .about {
        width: 400px;
        display: inline-block;
        margin-left: 30px;
    }
    
    .lowerSection {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .lowerSection .services {
        display: inline-block;
        width: 280px;
    }
    
    .lowerSection .product {
        display: inline-block;
        width: 280px;
    }
    
    .lowerSection .vision {
        display: inline-block;
        width: 280px;
    }
    
    address {
        margin-top: 30px;
        text-align: left;
        margin-bottom: 30px;
    }
    
    footer {
        text-align: center;
        padding-bottom: 80px;
    }